/*
id = #
class = .
*/

body {
  font-size:20px; 
  text-align: center;
  background: #afe2f3; 
  
}

#forms {
  min-height: 300px;           
  border: 1px solid black; 
  border-radius: 10px;
  background: #5dc7ea;    
}


.form_btn {
  border: 1px solid black; 
  border-radius: 110px;
  background: #fbfbf9;  
  
}