body {
  font-size:20px; 
  text-align: center;
  background: #afe2f3; 
  
}

#btn_ok {
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s;
  border-radius: 5px;
}
